@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.text{
    font-family: 'Open Sans', sans-serif;
}
.tag-line{
    width: 100%;
    height: 30px;
    background-color: #232323;
    display: flex;
}
.tag-line-icon-text-container{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.ti-location-pin{
    color: white;
    font-size: 20px;
}
.tag-line-text{
    font-size: 18px;
    color: white;
    margin-left: 6px;
}
.title-bar-container{
    width: 100%;
    height: 120px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
}
.title-bar-logo-info-container{
    width: 88%;
    height: 100%;
    /* background-color: teal; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-bar-info-container{
    width: 65%;
    height: 60%;
    /* background-color: thistle; */
    display: flex;
}
.title-bar-logo-container{
    font-size: 35px;
}
.logo > span{
    color: #343A40;
}
.title-bar-logo-container > span > span{
    color: #21C87A;
}
.logo{
    font-weight: 700;
}
.icon-1-text-container{
    width: 30%;
    height: 100%;
    /* background-color: gold; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ti-mobile{
    font-size: 40px;
    color: #21C87A;
}
.text-mobile-number-container{
    font-size: 15px;
}
.icon-2-text-container{
    width: 35%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ti-email{
    font-size: 40px;
    color: #21C87A;
}
.text-email-container{
    font-size:15px;
}
.icon-3-text-container{
    width: 35%;
    height: 100%;
    /* background-color: hotpink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ti-time{
    font-size: 40px;
    color: #21C87A;
}
.text-timings-container{
    font-size: 15px;
}
.common > span > span{
    color: #6C8ABD;
}
.nav-bar-container{
    width: 100%;
    height: 70px;
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: center;
}
.nav-bar{
    width: 88%;
    height: 100%;
    background-color: #21C87A;
    border-radius: 5px;
}
.nav-bar-items{
    width: 35%;
    height: 100%;
    /* background-color: salmon; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    color: white;
}
.text-img-main-container{
    width: 100%;
    height: 500px;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
}
.text-img-container{
    width: 88%;
    height: 100%;
    /* background-color: turquoise; */
    display: flex;
    align-items: center;
}
.main-text-container{
    width: 55%;
    height: 70%;
    /* background-color: yellow; */
}
.header-container{
    font-size: 55px;
}
.text-container{
    font-size: 17px;
    color: #6C8ABD;
}
.text-buttons{
    width: 58%;
    height: 85px;
    /* background-color: brown; */
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-button-1{
    background-color: #21C87A;
    width: 53%;
    height: 65%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.text-button-2{
    background-color: #232323;
    width: 42%;
    height: 65%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.img-container{
    width: 45%;
    height: 65%;
    /* background-color: aquamarine; */
}
.img-container > img{
    width: 100%;
    height: 100%;
}
.about-us-img-text-main-container{
    width: 100%;
    height: 500px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-img-text-container{
    width: 88%;
    height: 80%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-between;
}
.about-us-img-container{
    width: 49%;
    height: 100%;
    /* background-color: blueviolet; */
}
.about-us-img-container > img{
    width: 100%;
    height: 100%;
}
.about-us-text-container{
    width: 49%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}
.about-us-header-text-container{
    width: 100%;
    height: 65%;
    /* background-color: cornflowerblue; */
}
.about-us-header-text-container > .heading{
    font-size: 40px;
    color: #343A40;
    font-weight: 700;
}
.about-us-text{
    font-size: 14px;
    color: #6C8ABD;
}
.vision-mission-values-text-main-container{
    width: 100%;
    height: 250px;
    background-color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-mission-values-text-container{
    width: 88%;
    height: 80%;
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
}
.vision-text-main-container{
    width: 33%;
    height: 100%;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.mission-text-main-container{
    width: 33%;
    height: 100%;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.values-text-main-container{
    width: 33%;
    height: 100%;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.vision-heading , .mission-heading , .values-heading{
    font-size: 35px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #343A40;
}
.vision-text , .mission-text , .values-text{
    color: #6C8ABD;
    font-size: 15px;
}
/* .vision-text , .mission-text , .values-text > span{
    display: flex;
    justify-content: center;
} */


